<h1><%= human_action_name(:widget_sets, :edit)%></h1>
<% unless flash[:notice].blank? %>
<p id="notice"><%= flash[:notice] %></p>
<% end %>
<% unless flash[:warning].blank? %>
<p id="notice"><%= flash[:warning] %></p>
<% end %>
<%= render 'form' %>
