/**
 =========
 element 
 =========
*/

fieldset {
	border-width:2px;
	border-style:ridge;
	padding: 0.5em 1em;
	margin-left: 1.0em;
	margin-right: 0.7em;
	margin-top: 1.0em;
	margin-bottom: 0.5em;
	width: 90%;
}

table {
  border-top:1px #999999 solid;
  border-left:1px #999999 solid;
  border-collapse:collapse;
  border-spacing:0;
  background-color:#FFFFFF;
  margin: 2px 2px 2px 2px;
  empty-cells:show;
}
th{
  border-right:1px #999999 solid;
  border-bottom:1px #999999 solid;
  color:#330000;
  background-color:#CCCCCC;
/*    background-image:url(../img/table-back.gif); */
  background-position:left top;
  padding:3px 6px;
  text-align:center;
  font-weight: bold;
}
td{
  border-right:1px #999999 solid;
  border-bottom:1px #999999 solid;
  padding:3px 6px;
}

h1 {
  margin: 0px;
  font-weight: bolder;
  font-size: 1.5em;
  text-indent: 0em;
  display: block;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  /*
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  */
}

h2 {
  margin-top: 0.5em;
  font-size: 1.25em;
}

/*
a:link {
  color: #3333cc;
  text-decoration: underline;
}

a:visited {
 color: #6666cc;
 text-decoration: underline;
}

a:hover { 
 color: #ff6633;
 background-color: #333333;
 text-decoration: underline;
} 

a:active { 
  color: #ff0000;;
  background-color: #333333;
} 
*/
p, ol, ul, td {
  font-size: 1em;
  line-height: 1.2em; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 1em; }


/**
 =========
 Layout
 =========
*/

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  text-align: center; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
  background-color: #ffffff; 
/*  background-color: transparent;   */
/*  -webkit-font-smoothing: antialiased; */
}

#page_wrapper {
  text-align: center;
  background-color: #ffffff; 
}

#container_wrapper {
  text-align: center;
  margin-top: 12px;
}

#header_wrapper {
  text-align: center;
}

#user_nav_wrapper {
  text-align: center;
  clear: both;
  text-align: center;
  width: 950px;
  margin: 0 auto;
  margin-top: 12px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #ffffff; 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}


#footer_wrapper {
  margin-top: 12px;
  clear: both;
  text-align: center;
  height: 100%;
}

#container {
  clear: both;
  text-align: center;
  width: 950px;
  margin: 0 auto;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #ffffff; 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

#user_nav {
  text-align: left;
  top: 0px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
}

#top_nav {
  text-align: left;
  top: 0px;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-left: 1em;
}


#main {
  text-align: left;
  top: 0px;
  float: center;
  width: 79%;
  margin-left: 5px;
  margin-right: 5px;
  
}

#sidebar {
  float: right;
  width: 19%;
  margin-left: 5px;
  margin-right: 5px;
}

header {
  width: 950px;
  text-align: left;
  margin: 0 auto;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #ffffff; 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

footer {
  width: 950px;
  text-align: left;
  clear: both;
  margin: 0 auto;
}

#user_actions {
  text-align: right;
  float: right;
}

/**
 =========
 Header Layout
 =========
*/
header #header_title {
}

header #global_title {
}

header #global_title h1 {
  display: inline-block;
}

header #global_title h2{
  display: inline-block;
  margin-left: 1em;
}




/**
 =========
 class
 =========
*/
.actions {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 8px;
  text-align: center;
}

.actions input {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}

.actions a {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}

.fields {
  margin-bottom: 8px;
}

.field {
  margin-bottom: 8px;
  text-align: left;
}

.field label {
  text-align: left;
}


.field input {
  text-align: left;
}

.note {
  font-size: 0.8em;
  line-height: 1em;
  color: #666666;
  margin-bottom: 2px;
  margin-top: 2px;
  font-weight: lighter;
}

.caption {
  font-weight: bold;
}

.pagination {
  text-align: center;
  margin-bottom: 5px;
}

/*
 top navigation menu
*/
#top_nav {
  width : 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}





#top_nav ul {
  
}  

#top_nav .droppy {
  height: 36px;
  background-color: white;
}  


#top_nav .droppy ul ul {
  left: 131px;
  
}  
  
#top_nav>.droppy>li {
/*  width: 130px; */
  
  text-align: center;
}

#top_nav>.droppy>li>ul {
  top: 38px;
}

#top_nav>.droppy>li>a {
  border-bottom: none;
  line-height: 1;
  height: 20px;
  
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

#top_nav>.droppy>li>ul a {
}

#top_nav ul li {
/*  background-color: #cccc99; */
  color: #333333;
  border-bottom: 1px solid white;
  
}

#top_nav ul li a:hover {
  background-color: #999966; 
}


#top_nav ul a {
  background-color: #cccc99;
  color: #333333;
  text-decoration: none;
  border-right-width: 1px;
}





#top_nav ul :hover { }

#top_nav li ul li {
/*  width: 150px; */
}


/*
 =========
 user navigation menu
 =========
*/

#user_nav {
  height: 24px;
}
#user_nav>ul {
  background-color: #333366;
  height: 25px;
}
#user_nav #menu_item_settings {
  float: right;
}

#user_nav #menu_item_sites {
  float: right;
}

#user_nav #menu_item_folders {
  float: right;
}


#user_nav #menu_item_folders {
  width: 140px;
}


#user_nav>ul>li {
  width: 110px;
  height: 24px;
  text-align: center;
  border-right-color: white;
  border-right-width: 0px;
  border-right-style: solid;
  border-left-color: white;
  border-left-width: 0px;
  border-left-style: solid;
  margin-left: 0px;
  margin-right: 0px;
}

#user_nav>ul>li>a {
  height: 18px;
  padding-left: 3px;
  padding-right: 3px;

}

#user_nav>ul>li>ul {
  top: 25px;
}

#user_nav ul ul {
  width: 235px;
}

#user_nav ul ul ul {
  left: -235px;
}





#user_nav>ul>li>ul ul {
  top: 0px;
}


#user_nav li li {
  text-align: left;
}

#user_nav ul a {
  background-color: #333366;
  color: #ffffff;
  text-decoration: none;
}

#user_nav>ul>li a {
  
}



#user_nav ul *:hover { 
  background-color: #000033; 
}

#user_nav li ul li {
/*  width: 150px; */
}


/**
 =====================
*/

#articles article h1 {
  border-left: 6px solid #ffcc66;
  font-weight: bold;
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 4px;
  font-size: 1.1em;
  text-align: left;
  height: 1.3em;
  line-height: 1.3em;

}

#articles article {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 2px;
  padding: 8px 8px ;
  border-color: #999999;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  
}

#articles article .article_informations {
  text-align: right;
}

#articles article .content {
  margin-top: 4px;
  margin-left: 6px;
}

#articles article .content li {
  margin-left: 2em;
}




/*
 ========================== 
 errors 
*/

#notice {
  margin: 5px 5px 10px 5px;
  padding: 0.3em 0.5em 0.3em 0.5em ;
  width: 98%;
  background-color: #ffffff; 
  border-color: green; 
  border-style: solid;
  border-width: 2px;
  color: green; 
}

#warning {
  margin: 5px 5px 10px 5px;
  padding: 0.3em 0.5em 0.3em 0.5em ;
  width: 98%;
  background-color: #ff99cc; 
  border-color: #ff6699; 
  border-style: solid;
  border-width: 2px;
  color: green; 
}



.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 1em;
  list-style: square;
}

/*
 widget
*/
#side_widget_set {
  
}

#side_widget_set section {
  border-style: solid ;
  border-width: 1px ;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#side_widget_set section h3 {
  padding-left: 4px;
  padding-right: 2px;
  text-align: left;
  background-color: #ffc;
  padding-bottom: 2px;
  padding-top: 2px;
}

#side_widget_set section ul {
}


#side_widget_set section ul li {
margin-left: 4px;
margin-right: 2px;
padding-bottom: 2px;
padding-top: 2px;
list-style: none;
text-align: left;
}

