// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery.cleditor


table#articles {
  width: 90%;
}

table#articles .title {
  width: 20%;
}
table#articles .updated_by {
  width: 15%;
}

table#articles .updated_at {
  width: 15%;
}

table#articles .created_at {
  width: 15%;
}


table#articles .actions {
  width: 10%;
}

table#articles .change_order {
  width: 15%;
}

#article_fields #title input {
  width: 20em;
}


#article_fields #content .actions {
  text-align: left;
  margin-bottom: 0px;
}

#article_fields #content .actions span{
  vertical-align: bottom;
}



