/* Basic code - don't modify */
 
 nav.drop_nav ul { display: block; margin: 0; padding: 0; position: relative; }
  nav.drop_nav ul li { display: block; list-style: none; margin: 0; padding: 0; float: left; position: relative; }
  nav.drop_nav ul a { display: block; }
  nav.drop_nav ul ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
  * html nav.drop_nav ul ul { line-height: 0; } /* IE6 "fix" */
  	nav.drop_nav ul ul a { zoom: 1; } /* IE6/7 fix */
    nav.drop_nav ul ul li { float: none; }
    nav.drop_nav ul ul ul { top: 0; }
    
/* Essentials - configure this */
/*
nav.drop_nav ul ul { width: 130px; }
nav.drop_nav ul ul ul { left: 131px; }
*/
/* Everything else is theming */
 
nav.drop_nav ul { background-color: #CCCC99; height: 24px; }
nav.drop_nav ul *:hover { background-color: none; }
nav.drop_nav ul a { border-right: 1px solid white; color: white; font-size: 12px; padding: 6px; line-height: 1; }
  nav.drop_nav ul li.hover a { background-color: #CCCC99; }
  nav.drop_nav ul ul { top: 25px; }
    nav.drop_nav ul ul li a { background-color: #CCCC99; }
      nav.drop_nav ul ul a.hover { background-color: #30A8C3; }
   nav.drop_nav ul ul a { border-bottom: 1px solid white; border-right: none; opacity: 0.9; filter: alpha(opacity=90); }
/* nav.drop_nav ul ul a { border-bottom: none; } - I also needed this for IE6/7 */

