// Place all the styles related to the folder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#folders {
  width: 90%;
}

#folders .name {
  width: 15%;
}

#folders .title {
  width: 20%;
}

#folders .actions {
  width: 10%;
}

#folders .actions {
  text-align: center;
}

#folder_fields #name input {
  width: 20em;
}

#folder_fields #title input {
  width: 30em;
}

/*
 ===== theme ========
 */
#themes {
  clear: both;
}

input {
}

input.theme_radio_button {
/*  display: none; */
}

.theme {
  border-style: solid;
  border-color: #dddddd;
  border-width: 3px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 180px;
  height: 180px;

  float: left;
}

.selected_theme {
  border-style: solid;
  border-color: #dddddd;
  border-width: 3px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 180px;
  height: 180px;

  float: left; 
}



.theme_thumb {
  width: 180px;
  height: 150px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  
}


.selected {
  border-style: double;
  border-color: blue;
}
