// Place all the styles related to the folder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#folders {
  width: 90%;
}

#folders .name {
  width: 15%;
}

#folders .title {
  width: 20%;
}

#folders .actions {
  width: 10%;
}

#folders .actions {
  text-align: center;
}

#folder_fields #name input {
  width: 20em;
}

#folder_fields #title input {
  width: 30em;
}


